nav {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
}

.logo{
    text-decoration: none;
    font-size: 26px;
    color: rgba(0,0,0,0);
    margin-right: 16px;
}
.button{
    border: solid, 1px, gray;
    text-decoration: none;
    background-color: transparent;
    background-color: rgba(0,0,0,0);
    padding: 5px 12px;
}

.link {
    margin: 10px;
    font-size: 10px;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}

.hamburger-toggle{
    display: none;
}

@media(max-width: 700px){
    nav {
        display: block;
    }
        .hamburger-toggle{
            display: inline-block;
            float: right;
        }
        .nav-link{
            display: flex;
            flex-direction: column;
        }
        .hide {
            display: none;
        }
    
}
